/*fin*/
.celda{
	margin-top:2%;
	margin-bottom:2%;
  background-color:#F2F2F2;
}
.derecha {
    float:right;
    clear:both;
}
.btn {
  color:#fff;
  background-color:#3B4045;
  margin-bottom:2%;
  margin-top:2%;
}
@media (max-width:544px ){
	.derecha{
		float:none;
	}
}